.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: white;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-extra-small) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  background-color: var(--color-grey-light-1);
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  flex: 0 0 60%;
  padding: 3rem;
  margin-right: 4.5rem;
  box-shadow: 0 0rem 4rem rgba(0, 0, 0, 0.109);

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 0;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2.25rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;

      // for Old browser
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;

      // for Modern browser
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    width: 4rem;
    height: 4rem;
    box-sizing: content-box;
    border-radius: 50%;
    border: 3px solid white;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    margin-top: 3rem;
  }
}

.review {
  background-color: var(--color-grey-light-1);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 3rem;
    position: relative;
    z-index: 100;
  }

  &__person-image {
    width: 4.5rem;
    height: 4.35rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__person {
    display: flex;
    align-items: center;

    &-box {
      margin-right: auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3);
    }
  }

  &__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    color: var(--color-grey-light-3);
    font-family: sans-serif;
    line-height: 1;
    font-size: 25rem;
    z-index: 10;
  }
}

.footer {
  text-align: center;

  &__text {
    font-size: 1.7rem;
    color: var(--color-grey-dark-2);
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

.footer__button {
  font-size: 1.5rem;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-d)
  );
  margin: 3rem 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &--visible {
    display: inline-block;
    padding: 2rem 7rem;
    transition: all 0.1s;
  }

  &--invisible {
    display: inline-block;
    padding: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 0.1s;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-primary-d),
      var(--color-primary)
    );
  }

  &:hover &--invisible {
    top: 0;
  }

  &:hover &--visible {
    transform: translateY(35px);
  }
}
